.equilizer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 2rem;
  height: 2rem;
  border: 1px solid $main-black;
}

.active {
  background-color: $main-green;
}
